.gradle
build
.idea
*.ipr
*.iml
*.iws
*.sln
*.vcxproj
*.vcxproj.*
.DS_STORE
quickstart/gradle/libs/
server_script/maven/
server_script/tmp/
CMakeLists.txt
.vs
cmake-build-debug
_localtest/libs
bin/
.settings/
.project
.classpath
out/
hs_err_*
.vscode/
